@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    font-family: 'Alata', sans-serif !important;
}

html {
    overflow: hidden;
}

body {
    background: #000000;
}

.site-wrapper {
    background: none;
    box-shadow: none;
}

.mixcloud-live-chat-chat-window {
    background: none;
    border: none;
}

.mixcloud-live-chat-container-outer {
  overflow: hidden;
}

.mixcloud-live-chat-container {
    background: none;
}

.mixcloud-live-chat-row {
    background: #ffffff44;
    border-radius: 10px;
    margin: 3px 6px;
}

.mixcloud-live-chat-row:first-child {
    margin-bottom: 6px;
}

.mixcloud-live-chat-row-link {
    font-size: 14px;
}

.styles__MessageBodyTextRegular-sc-1eo8mtu-51 {
    font-size: 18px !important;
}

.styles__ChatInputContainer-sc-1eo8mtu-2 {
    display: none;
}  