@import "./main";

#society-about, #society-offerings {
    font-size: 17px;
}

#exec-profiles {
    .exec-row {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 50px;
        }

        .exec-img {
            width: 300px;
            padding-bottom: 100%;
            background-size: cover;
            background-position: center;
            border-radius: 10px;
        }
        
        .exec-info {
            margin-left: 20px;
            flex: 1;

            ul {
                list-style-type: none;
                padding-left: 0;
                font-style: italic;
            }
        }

        &.right-image {
            flex-direction: row-reverse;

            .exec-info {
               margin-left: 0;
               margin-right: 20px;
   
               :not(p) {
                   text-align: right;
               }
           }
        }
    }
}


@media (max-width: 991.9px) {
    #exec-profiles {
        .exec-row {
            flex-direction: column;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 80px;
            }
            
            .exec-info {
                margin: 20px 0 0 0;
            }
        }
    }
}

@media (max-width: 766.9px) {
    h3 {
        font-size: 1.75rem;
    }
}

@media (max-width: 575.9px) {
    #exec-profiles .exec-row {
        align-items: stretch;

        .exec-img {
            width: 100%;
        }
    }
}