/* #464646, #a32691 */
@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext");
html {
  scroll-behavior: smooth;
}

body {
  background: #111111 url("../img/cdj.jpg") no-repeat center center fixed;
  background-size: cover;
  margin: 0px;
  color: #ffffff;
  font-family: "Alata", sans-serif;
}

#navbar {
  background-color: #181818;
  box-shadow: 0px 0px 20px -5px #000000;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}
#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
#navbar .container #navbar-brand {
  height: 120px;
  transition: height ease 0.4s;
  border-radius: 50%;
}
#navbar .container ul {
  margin: 0;
  font-size: 18px;
}
#navbar .container ul li {
  display: inline;
}
#navbar .container ul li.active {
  font-weight: bold;
}
#navbar .container ul li:not(:first-child) {
  margin-left: 20px;
}
#navbar .container ul li a {
  color: #ffffff;
}

h1, h2 {
  font-family: "Righteous", sans-serif;
  font-style: italic;
}

#header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}
#header-content h1 {
  font-size: 80px;
  text-align: center;
}

.page-content {
  padding: 1% 0px;
  background-color: rgba(10, 10, 10, 0.6);
  text-align: justify;
  margin-bottom: 100px;
}
.page-content p {
  margin: 5px 0;
}
.page-content a {
  font-weight: bold;
  color: #ffffff;
}

.toast {
  text-align: justify;
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #000000;
  display: none;
}

footer {
  background-color: #222222;
  padding: 1% 0px;
}
footer .container {
  display: flex;
  align-items: center;
}
footer .container #footer-notice {
  flex: 1;
}
footer .container #footer-socials {
  font-size: 20px;
}
footer .container #footer-socials a {
  color: #ffffff;
}
footer .container #footer-socials a:hover {
  color: #dddddd;
}
footer .container #footer-socials a:not(:last-child) {
  margin-right: 5px;
}

@media (max-width: 767.9px) {
  #navbar #navbar-brand {
    transition: none;
    height: 80px !important;
  }

  body {
    font-size: 14px;
  }

  #header-content {
    height: 300px !important;
  }
  #header-content h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }
}
.demo .demo-row {
  width: 100%;
  display: flex;
  align-items: center;
}
.demo .demo-row.full-width-widget {
  flex-direction: column;
  align-items: stretch;
}
.demo .demo-row:not(.full-width-widget) .demo-info {
  padding-left: 20px;
  flex: 1;
}
.demo .demo-row .demo-widget#demo-logo {
  width: 270px;
}
.demo .demo-row .demo-widget#demo-nametag {
  height: 270px;
}
.demo .demo-row .demo-widget .demo-frame {
  position: absolute;
  transform: scale(0.5);
  transform-origin: 0 0;
  border: 0;
}
.demo .demo-row .demo-info ul {
  font-weight: bold;
  list-style: none;
  padding: 0;
}
.demo .demo-row .demo-info code {
  margin-bottom: 20px;
}
.demo .demo-row .demo-info i.fa-copy {
  cursor: pointer;
  transition: color 0.1s;
}
.demo .demo-row .demo-info i.fa-copy:active {
  color: #dddddd;
}

@media (max-width: 991.9px) {
  .demo .demo-row:not(.full-width-widget) {
    flex-direction: column;
    align-items: stretch;
  }
  .demo .demo-row:not(.full-width-widget) > div.widget-box {
    display: flex;
    justify-content: center;
  }
  .demo .demo-row:not(.full-width-widget) .demo-info {
    padding-left: 0px;
  }
}/*# sourceMappingURL=widgets.css.map */